body {
	background-color:black; 
}
.titles {
	text-align: center;
}

.images {
	width: 50%;
}

#content {
	margin: 2%;
}

.box {
	border: 1px solid black;
}

.description {

}

.play {
	font-size: 30px;
	border-radius: 40px;
}

.techlist {
	margin-left: 10px;
}



